

body {
    back;
    background-color: black; 
}

.skills {
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    text-shadow: 4px 4px black;
    font-weight: 500;
}

@keyframes example {
  25%   { left:50%; top:35%;}
  40%  {left:70%; top:35%;}
  80%  { left:30%; top:35%;}
  100% {left:50%; top:35%;}
}




.grid {
        width: 60%;
        margin: auto;
        margin-top: 50px;
       	text-align: center;
        justify-items: center;
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        min-width: 300px;
        border-radius: 20px;
        background: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
        box-shadow:  5px 10px 10px white;
        backdrop-filter: blur(15px);
}



    .fa-brands {
        box-shadow: 1px 2px black;
        width: 76px;
        text-align: center;
        font-size: 3rem;
        border-radius: 5px;
        padding: 10px;
        background-color: white;
        z-index: 5;
        margin: 5px;
    }
    
    .fa-brands:hover {
    	background-color: black;
        color: white;
        cursor: pointer;
        transition: 1s ease;
        transform: rotate(360deg);
        
    }
 
    .container {
    }

.foot {
    
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: small;
}

@media only screen and (max-width: 500px) {
    .grid {
       display: block;
        margin-left: -32%;
    }
}
    
    
