

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 700px;
    background-color: black;
  /*  background-color: white;*/
}

header.sticky {
    height: 100px;
   
}

header.sticky .logo {
    position: absolute;
    font-size: 3rem;
    left: 100px;
    transform: translate(-10%, -50%);
}

header.sticky .banner {
    opacity: 0.5;
    padding-bottom: 20px;

}

header.sticky nav {
    padding-right: 150px;
    transition: 1s;
}

header.sticky nav ul {
    opacity: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    transition: 1s;
}

header .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

header .logo {
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
    position: absolute;
    top: 35%;
    left: 50%;
    text-decoration: none;
    color: white;
    font-size: 4rem;
    transform: translate(-50%, -50%);
    transition: 1s;
    z-index: 1;
}

nav {
    position: relative;
    display: flex;
    z-index: 1;
    
}

nav ul {
    position: relative;
    display: flex;
    transition: 0.25s;
    
    opacity: 0;
    
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
    padding:0px 30px;
    opacity: 1;
    font-size: 1.2rem;
    font-weight: 500;
}

nav ul li a:hover {
    border-bottom: 2px solid white;
}

.one {
    border-right: 1px solid white;
}

.contact {
    display: grid;
    border-radius: 4px;
    background-color: #0072b1;
    padding: 6px 0px;
    position: fixed;
    top: 160px;
    left:0;
    min-height: 120px;
    
}

.contact:hover {
    cursor:pointer;
    background-color: white;
    
}
main {
    margin-top: 150px;
    padding: 20px 90px 30px 90px;
    /*background-color: black;*/

}



/*.name {

    display: grid;
    justify-content: flex-start;
    font-family: 'Nunito Sans', sans-serif;
    color: azure;
}*/


main p {
    display: grid;
    align-items: center;
    padding: 15px;
    max-width: 500px;
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding-top: 50px;
    
}

.profile {
   height: 300px;
   
   border-radius: 5px;
}
.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 20% 50%;
    justify-content: center;
    padding: 20px;
}

.child span {
    font-size: 1.3rem;   
    font-weight: 500;
}

.footer {
    
    width: 100%;
    background-color: white;
    color: black;
    font-style: italic;
    font-size: small;
    text-align: center;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;        
    height: 40px;
    
}

.form {
    	display: grid;
       text-align: center;
        gap: 30px;
        max-width: 250px;
        font-family: 'Sora', sans-serif;
        background-color: white;

        
    }
    

 
 .container p {
 
 	font-weight: 600;
    padding-top: 20px;
    
 }
    
 
 .button {
    
 	padding: 5px 26px;
    background-color: white;
    border: 3px solid black;
    font-weight: bold;
 
 }
     
 .submit {
     padding-bottom: 20px;
     }
 
 input, textarea{
 	  border-top-style: hidden;
  	  border-right-style: hidden;
 	  border-left-style: hidden;
      border-bottom: 2px solid gray;
      padding-bottom: 5px;
      font-size: 0.8rem;
      max-width: 250px;
      
 
 }


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 30%;
  max-width: 300px;
}



/* Add Animation */
.modal-content{  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 5%;
  right: 35%;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }



